$body-background: rgb(100, 100, 100);
@import 'sprite';
body {
  //background: $body-background;
  background: rgb(20,100,100);
  color: #fff;
}

.cont-man-icon {
  @include sprite($cont-man-icon);
}

.cont-man {
  width: $about-icon-x;
  @include sprite($cont-man);
}